.pieces-slider {
    position: relative;
    text-align: center;
    padding: 8rem 0;
}

.js .pieces-slider {
    padding: 0;
}


/* Make all slides absolutes and hide them */

.js .pieces-slider__slide {
    position: absolute;
    left: 100%;
}


/* Define image dimensions and also hide them */

.pieces-slider__image {
    width: 600px;
    height: 500px;
}

.js .pieces-slider__image {
    visibility: hidden;
}


/* Hide the titles */

.js .pieces-slider__text {
    text-indent: -9999px;
}


/* Canvas with viewport width and height */

.js .pieces-slider__canvas {
    position: relative;
    width: 100vw;
    height: 100vh;
    transition: 0.2s opacity;
}


/* Class for when we resize */

.pieces-slider__canvas--hidden {
    opacity: 0;
    transition-duration: 0.3s;
}


/* Navigation buttons */

.pieces-slider__button {
    position: absolute;
    //left: 0;
    top: 40%;
    width: 50px;
    height: 50px;
    margin: 0 5%;
    color: $color-1;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

// A suprimer BTN NEXT ET PREV
.pieces-slider__button--next {
    display: none;
    right: 0;
    left: auto;
}

.pieces-slider__button--prev {
    display: none;
    right: 10%;
}


/* Hide the buttons when no JS */

.no-js .pieces-slider__button {
    display: none;
}

// projects-list
.projects-list {
    position: absolute;
    height: 70%;
    top: 10%;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    // LISTE PROJECTS <li>
    ul {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        [data-index] {
            transform: translatex(50px);
            color: $color-1;
            cursor: pointer;
            letter-spacing: .2rem;
            &::before {
                content: '<';
                color: $color-1;
            }
            &::after {
                content: '>';
                color: $color-1;
            }
            span {
                display: none;
            }
        }
        .active {
            color: rgb(209, 36, 91);
            span {
                display: inline-block;
            }
            .green {
                color: #8BFE87;
            }
            .white {
                color: $color-3;
            }
            .yellow {
                color: #F5FE79;
            }
            &::after,
            &::before {
                color: #ffff;
            }
        }
        &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 80%;
            top: 10%;
            left: 0;
            background: $color-5;
            opacity: .5;
        }
    }
}


/* Media queries with styles for smaller screens */

@media screen and (max-width: 720px) {
    .pieces-slider__image {
        max-width: 300px;
    }
}

@media screen and (max-width: 55em) {
    .pieces-slider__canvas {
        width: 100vw;
        height: 100vw;
    }
    .pieces-slider__button {
        width: 60px;
        height: 60px;
    }
}